<div class="container">
  
  <div>
    <img src="../../assets/Hotel home page.jpg" class="abc">
  </div>

  
  <div class="name"><h1>DeRossi Hotel</h1></div>
  
</div>



<div id="id01" class="Login">
  
  <form class="modal-content animate" action="action_page.php">
  <div class="imgcontainer">
  
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Login">
      &times;</span>
     </div>
  
  
   <div class="container"><label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required><br>
  
  
  <br><label><b>&nbsp;Password</b></label>
  <input type="password" placeholder="Enter Password" name="psw" required><br>
  
  
  <br>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
  <button routerLink='/RoomPage'>Login</button>

  
  </div>
  
  
   
   


  
