<section id=nav-bar>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#"><img src="../../assets/Hotel-Logo.PNG" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nave-item active"><a class="nav-item nav-link active" href="#">HOTEL</a>
          </li>
          
          <li class="nave-item active"><a class="nav-item nav-link" routerLink='/rooms-booking'>ROOMS</a>
          </li> 
          
          <li class="nave-item active"><a class="nav-item nav-link" routerLink='/area-attraction'>AREA ATTRACTION</a>
          </li>
          <li class="nave-item active"><a class="nav-item nav-link"  routerLink='/dining'>DINING</a>
          </li>
          <li class="nave-item active"><a class="nav-item nav-link" routerLink='/photos'>PHOTOS + REVIEW</a>
          </li>
       
         
          <li class="nave-item"><a class="nav-link" routerLink='/bookings'>BOOKINGS</a>
          </li>
        </ul>
        </div>
        </nav>
<h3 id="header">Area Attractions</h3>
<p id="header">Discover the many wonders of Johannesburg from our Rosebank hotel. 
  As the largest city in South Africa, “Jo’burg” is an extraordinary metropolis.
  Established as a gold rush town just over 120 years ago, it always has been 
  a city of commerce and opportunity. The city has grown and become the largest
   and most populous city in South Africa, and the largest city in the world not
    built on or near a major water source. It is home to Africa’s tallest building,
     a large Central Business District (CBD) and many smaller urban centres. 
     The Sandton CBD is only 5kms away from our Johannesburg Rosebank hotel.
    </p>
    <br>
  <h3 id="header">Art & Culture</h3><br>
  <br>

  <div class="row">
      <div class="column">
          <img src="../../assets/rooms/johannesburg art gallery.jpg" alt="Snow" style="width:100%; height: 60%">
          <b>Johannesburg Art Gallery</b><br>
          The Johannesburg Art Gallery, often referred to as JAG,
          is located in the centre of Joubert Park in downtown Johannesburg. 
          The building was designed by Edward Lutyens, the British architect 
          also responsible for the city’s Anglo-Boer War Memorial and houses 
          one of the biggest art collections in the country. It's a huge 
          point of interest for all who love art and history, something 
          that South Africa offers in bucket loads, so JAG is one of the 
          places to visit in Johannesburg.
      </div><br>
      <div class="column">
          <img src="../../assets/rooms/Market Theatre.jpg" alt="Forest" style="width:100%; height: 60%">
          <b>Market Theatre</b><br>
          The Market Theatre is renowned worldwide for brilliant anti-apartheid plays that 
          have included Woza Albert, Asinamali, Bopha, Sophiatown, You Strike the Woman You
          Strike a Rock, Born in the RSA, Black Dog – Inj’emnyama, as well as the premieres
          of many of Athol Fugard’s award-winning dramas. The Market Theatre’s history is
          intertwined with the cultural, social and political struggle for freedom 
          in South Africa.
      </div><br>

      <div class="row">
          <div class="column">
              <img src="../../assets/rooms/joburg-theatre_498053291_16611.jpg" alt="Snow" style="width:100%; height: 60%">
              <b>Johannesburg Theatre</b><br>
              The Joburg Theatre in Braamfontein is where you’ll find a variety of popular shows
              and their annual pantomime crowd-puller. In the past decade, The Mandela at Joburg
              Theatre has hosted many hit shows, including William Kentridge’s acclaimed 
              interpretation of Mozart’s THE MAGIC FLUTE, the West End and Broadway musicals
              WEST SIDE STORY, CHICAGO, THE COLOR PURPLE and SPAMALOT and top-of-the-line global
               touring shows, such as LE GRAND CIRQUE, LORD OF THE DANCE and BRAZOUKA.
          </div><br>
          <div class="column">
              <img src="../../assets/rooms/Goodman Gallery.webp" alt="Forest" style="width:100%; height: 60%">
              <b>Goodman Gallery</b><br>
              Goodman Gallery is one of the most distinguished and longest-standing international 
              contemporary art galleries. Established in Johannesburg in 1966, the gallery works
              with artists who are at once contemporary, influential and strive to shift perspectives
              and engender social transformation. Founded during the era of apartheid, Goodman Gallery
              offered a non-discriminatory space when museums served the agenda of the autocratic 
              government. Since 2008, under the directorship of Liza Essers, Goodman Gallery has 
              expanded on this legacy, shifted its focus, and introduced numerous pivotal curatorial
              initiatives and partnerships
          </div>

