<section id=nav-bar>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#"><img src="../../assets/Hotel-Logo.PNG" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nave-item active"><a class="nav-item nav-link active" href="#">HOTEL</a>
          </li>
          
          <li class="nave-item active"><a class="nav-item nav-link" routerLink='/rooms-booking'>ROOMS</a>
          </li> 
          
          <li class="nave-item active"><a class="nav-item nav-link" routerLink='/area-attraction'>AREA ATTRACTION</a>
          </li>
          <li class="nave-item active"><a class="nav-item nav-link"  routerLink='/dining'>DINING</a>
          </li>
          <li class="nave-item active"><a class="nav-item nav-link" routerLink='/photos'>PHOTOS + REVIEW</a>
          </li>
       
          
          <li class="nave-item"><a class="nav-link" routerLink='/bookings'>BOOKINGS</a>
          </li>
        </ul>
        </div>
        </nav>
        
<h3 id="choose">Choose Room</h3>

<div class="dropdown">
  <button onclick="myfunction()" class="dropbtn">Rate-Rules</button>

  <div id="myDropdown" class="dropdown-content">
    <p>
        <b>Details</b><br>
        Exclusive rate for World Of Hyatt Members. To receive this discount sign in <br>
        with your membership number or join when making your reservation.<br>
        Book now - limited rooms available. Two Rooms Per World of DeRossi Member.<br><br>
        <b>Cancellation Policy</b><br>
        48hours Prior To Checkin To Avoid One Night Fee
        
    </p>
    

  </div>

</div>

<div class="row">
    <div class="column" style="text-align: center">
        
      <img src="../rooms/../../assets/rooms/1 King Bed with Club Access.webp" alt="Snow" style="width:100%">
        <b>1 King Bed with Club Access</b><br>
        Enjoy private-access top floors offering butler on request, 
        concierge service and private lounge serving Continental breakfast, 
        evening cocktails and hors d'oeuvres. Spacious 42-sq.-metre guestroom
        overlooking the city's tree-lined horizon features distinctive African
        decor, including king-size bed, granite bath with separate tub and shower
        , and generous work area with high-speed Internet access.<br>

        <!-- <input class="btn btn-primary" type="submit" value="Select" routerLink> -->
        <button class="button" routerLink='/pay'>Book</button>
    </div>
    <div class="column">
        <img src="../../assets/rooms/2 Twin Beds with Club Access.webp" alt="Forest" style="width:100%">
        <b>2 Twin Beds with Club Access</b><br>
              Enjoy private-access top floors offering butler on request, 
              concierge service and private lounge serving Continental breakfast,
              evening cocktails and hors d'oeuvres. Spacious 42-sq.
              -metre guestroom overlooking the city's tree-lined horizon features
              distinctive African decor, including two twin beds, granite bath 
              with separate tub and shower, and generous work area with high-speed
              Internet access.<br>

              <!-- <input class="btn btn-primary" type="submit" value="Select"> -->
              <button class="button1" routerLink='/pay'>Book</button>
    </div>

    <div class="row">
        <div class="column">
            <img src="../../assets/rooms/1 King Bed.webp" alt="Snow" style="width:100%">
            <b>1 King Bed</b><br>
              Panoramic city views and distinctive African-inspired decor welcome you to a 38-sq.
              -metre room, including one king bed, black granite bath with separate tub and shower,
              and generous work area with high-speed Internet access. Includes deluxe amenities 
              such as plush bathrobes, daily newspaper and evening turn-down service. 
              Complimentary in-room tea and coffee station available.<br>

              <!-- <input class="btn btn-primary" type="submit" value="Select"> -->
              <button class="button1" routerLink='/pay'>Book</button>
        </div>
        <div class="column">
            <img src="../../assets/rooms/1 Queen Bed.webp" alt="Forest" style="width:100%">
            <b>1 Queen Bed</b><br>
            Panoramic views of a garden and the city's tree-lined horizon welcome you to a 32.5-sq.
            -metre room featuring plush queen bed and black granite bath with separate tub and walk-in shower.
             Distinctive African-inspired decor featuring black marble, light woods and beige textiles 
             complements amenities such as generous work area with high-speed Internet access. 
             Sliding glass doors available<br>

             <!-- <button class="btn btn-primary" type="submit" value="Select"> -->
               <button class="button1" routerLink='/pay'>Book</button>
        </div>
    
  </div>
  </div>
