<section id=nav-bar>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"><img src="../../assets/Hotel-Logo.PNG" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nave-item active"><a class="nav-item nav-link active" href="#">HOTEL</a>
        </li>
        
        <li class="nave-item active"><a class="nav-item nav-link" routerLink='/rooms-booking'>ROOMS</a>
        </li> 
        
        <li class="nave-item active"><a class="nav-item nav-link" routerLink='/area-attraction'>AREA ATTRACTION</a>
        </li>
        <li class="nave-item active"><a class="nav-item nav-link"  routerLink='/dining'>DINING</a>
        </li>
        <li class="nave-item active"><a class="nav-item nav-link" routerLink='/photos'>PHOTOS + REVIEW</a>
        </li>
     
        
        <li class="nave-item"><a class="nav-link" routerLink='/bookings'>BOOKINGS</a>
        </li>
      </ul>
      </div>
      </nav>

      <img src="../../assets/se/main dining.webp" class="img-fluid" alt="Responsive image"><br><br>

      <div class="header">
        <h3>Dining</h3><br>
        <p>
          DeRossi Hotel invites you to experience our on-site dining establishments,<br>
          including the award-winning oneNINEone, a restaurant with a focus on <br>
          Thoughtful food. At The Terrace, located in the lush gardens of the hotel,<br>
          and in the Lobby Lounge, guests can relax and sip on one of the 170 local<br> 
          and international labels housed in our wine cellar. 

        </p><br><br>
      </div>

      <div class="row">

          <div class="column">
        
              <img src="../../assets/se/onenineone Restaurant.webp" alt="Snow" style="width:100%"><br><br>
                
            </div>
            <div class="column">
                <h3 id="types"> onenineone Restaurant</h3><br>
              <p>
                  A chef-led locally inspired restaurant, onenineone at the DeRossi in Westonaria, 
                  Johannesburg is a proudly South African restaurant, with a menu inspired 
                  largely by local ingredients and traditions. Each dish tells a story that
                  is a blend of international trends and South African food culture, as 
                  experienced and interpreted by the Chef. The restaurant’s ethos ‘Thoughtful Food’
                   is a triumph of collaboration between responsible growers, the finest seasonal 
                   and sustainable ingredients and inspired chefs who care about delivering the
                    ultimate dining experience.

                  Overall winner of Restaurant week 2018.<br><br><br>

                  <b>Hours</b><br><br>
                  <b>Breakfast</b><br>
                  Monday to Friday: 6:15–10:30 a.m.<br>
                  Saturday and Sunday: 6:15–11:30 a.m.<br><br>
                  
                  <b>Lunch </b><br>
                  Monday to Saturday 12:00 pm–03:00 p.m.<br>
                  
                  Restaurant is closed between 03:00pm - 06:00pm<br><br>
                  
                  <b>Dinner</b><br>
                  Monday to Saturday 06:00 pm – 10:00om<br>
                  
                  Restaurant is closed for lunch and dinner on Sunday.

              </p>
            </div>
            <div class="row">
                <div class="column">
                  <img src="../../assets/se/The Lobby Lounge.webp" alt="Snow" style="width:100%"><br><br>
              </div>
              <div class="column">
                  <h3 id="types"> The Lobby Lounge</h3><br>
                  <p>
                      The Lobby Lounge is a casual yet elegant area situated on the main lobby level of Hyatt Regency Johannesburg.
                       A place to unwind and refresh, it is the perfect spot for a relaxing cup of tea, a rejuvenating coffee,
                        an indulgent cocktail or a glass of champagne.
      
                      The Lobby Lounge Bar is an elegant cocktail bar, contemporary in design. The bar is popular pre- and post-dinner, 
                      with a wide array of wines by the glass to choose from, and well known for its excellent variety of premium beverages.
                      
                      A signature item is the vintage wines by the glass, with a selection of more than 170 white and red wines
                       to choose from, served at the correct temperature and poured from the bottle. Emphasis is placed on the unique
                        selection of quality, premium South African wines. The Lobby Lounge also offers the largest range of French 
                        champagne in Johannesburg, available from the bar / waiter or the exquisite wine room.
                      
                      An extensive selection of imported and local spirits, liqueurs and brandies is also available.
                      
                      To complete the experience, a selection of Cuban and Dominican cigars is available to enjoy in
                       our smoking outlet, The Terrace – Cigar & Wine Bar.
                      
                      Over the years, this space has established itself as the place to see and be seen, 
                      meet people, unwind, read the latest news and trends, and certainly do business.
                  </p>
      
              </div>
      
      
      
            </div>
      </div>
      
      